.github/
.vscode/
.idea/
build/
dist/
node_modules/
runtime/
scripts/
admin/
static/
temp/

.env
*.sql
*.bin
*.csv
*.csv.gz
*.tsv
*.txt
*.db
*.wal
*.toml
*.parquet
*.parquet.gz
*.ne
*.webm
.travis.yml
.DS_Store
buf.lock
go.mod
go.sum

log
*.log
.gitignore
.gitkeep
.eslintignore
.prettierignore
Dockerfile
docs
Makefile
.nvmrc
*.mdc
